html, body {
    height: 100%;
    margin: 0px;
    min-height: 100%;
    background-color: #353739;
  }
main {
    background-color: #353739;
    padding: 1.5em;
}
h1 {
    color: #ffffff;
    font-family: 'Mouse Memoirs', sans-serif;
}

h2, h3 {
    color: #47f0ff;
    font-family: 'Nunito Sans', sans-serif;
}
p {
    color: #fffbfe;
    font-family: 'Quicksand', sans-serif;
}
a {
    color: #47f0ff;
    text-decoration: none;
}
.title {
    background-color: #47f0ff;
    background-image: linear-gradient(65deg, #ff6b6b, #ffc247, #1893d6);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}