html, body {
    height: 100%;
    margin: 0px;
    min-height: 100%;
  }
body {
    background-color: #3f3f3f;  
}
h1 {
    color: #ffffff;
    font-family: 'Mouse Memoirs', sans-serif;
}
p {
    color: #a8a8a8;
    font-family: 'Quicksand', sans-serif;
}
a {
    color: #ffffff;
    text-decoration: none;
}